@theme {
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-out: fade-in 1s ease-in-out reverse;

  @keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
}

@theme {
  --color-primary-main: light-dark(var(--color-primary-main-light), var(--color-primary-main-dark));
  --color-primary-hover: light-dark(var(--color-primary-hover-light), var(--color-primary-hover-dark));
  --color-primary-subtle: light-dark(var(--color-primary-subtle-light), var(--color-primary-subtle-dark));
  --color-primary-text: light-dark(var(--color-primary-text-light), var(--color-primary-text-dark));
  --color-primary-text-subtle: light-dark(var(--color-primary-text-subtle-light), var(--color-primary-text-subtle-dark));
  --color-primary-bg: light-dark(var(--color-primary-bg-light), var(--color-primary-bg-dark));
  --color-primary-elevated: light-dark(var(--color-primary-elevated-light), var(--color-primary-elevated-dark));

  --color-accent-main: light-dark(var(--color-accent-main-light), var(--color-accent-main-dark));
  --color-accent-elevated: light-dark(var(--color-accent-elevated-light), var(--color-accent-elevated-dark));
}
