@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-out: fade-in 1s ease-in-out reverse;

  --color-primary-main-light: var(--color-slate-500);
  --color-primary-main-dark: var(--color-slate-600);
  --color-primary-hover-light: var(--color-slate-700);
  --color-primary-hover-dark: var(--color-slate-500);
  --color-primary-subtle-light: var(--color-slate-200);
  --color-primary-subtle-dark: var(--color-slate-800);
  --color-primary-text-light: var(--color-slate-900);
  --color-primary-text-dark: var(--color-slate-50);
  --color-primary-bg-light: var(--color-slate-50);
  --color-primary-bg-dark: var(--color-slate-950);
  --color-primary-elevated-light: var(--color-slate-200);
  --color-primary-elevated-dark: var(--color-slate-800);

  --color-accent-main-light: var(--color-fuchsia-600);
  --color-accent-main-dark: var(--color-fuchsia-500);
  --color-accent-elevated-light: var(--color-fuchsia-200);
  --color-accent-elevated-dark: var(--color-fuchsia-800);

  @keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
}

@layer utilities {
  .animation-delay-1s {
    animation-delay: 1s;
  }

  .animation-duration-2s {
    animation-duration: 2s;
  }

  .animation-easing-in-out {
    animation-timing-function: ease-in-out;
  }

  .animation-easing-linear {
    animation-timing-function: linear;
  }
}
