@import "@fontsource-variable/material-symbols-outlined/wght.css";
@import "@fontsource-variable/material-symbols-outlined/fill.css";

.md-icon {
  font-family: "Material Symbols Outlined Variable", sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  user-select: none;

  &.md-icon-filled {
    font-variation-settings: 'FILL' 1;
  }
}
