@theme {
  --color-primary-main: light-dark(
    var(--color-orange-600),
    var(--color-orange-400)
  );
  --color-primary-alt: light-dark(
    var(--color-orange-300),
    var(--color-orange-700)
  );
  --color-primary-selected: light-dark(
    var(--color-orange-700),
    var(--color-orange-300)
  );

  --color-secondary-main: light-dark(
    var(--color-teal-500),
    var(--color-teal-400)
  );
  --color-secondary-alt: light-dark(
    var(--color-teal-200),
    var(--color-teal-700)
  );
  --color-secondary-selected: light-dark(
    var(--color-teal-600),
    var(--color-teal-200)
  );

  --color-warning-main: light-dark(
    var(--color-amber-600),
    var(--color-amber-400)
  );
  --color-warning-alt: light-dark(
    var(--color-amber-300),
    var(--color-amber-700)
  );
  --color-warning-selected: light-dark(
    var(--color-amber-700),
    var(--color-amber-500)
  );
  --color-warning-alert: light-dark(
    var(--color-amber-50),
    var(--color-amber-950)
  );

  --color-error-main: light-dark(
    var(--color-red-600),
    var(--color-red-500)
  );
  --color-error-alt: light-dark(
    var(--color-red-300),
    var(--color-red-700)
  );
  --color-error-selected: light-dark(
    var(--color-red-700),
    var(--color-red-500)
  );
  --color-error-alert: light-dark(
    var(--color-red-50),
    var(--color-red-950)
  );

  --color-success-main: light-dark(
    var(--color-green-600),
    var(--color-green-400)
  );
  --color-success-alt: light-dark(
    var(--color-green-300),
    var(--color-green-700)
  );
  --color-success-selected: light-dark(
    var(--color-green-700),
    var(--color-green-500)
  );
  --color-success-alert: light-dark(
    var(--color-green-50),
    var(--color-green-950)
  );

  --color-text-main: light-dark(
    var(--color-gray-900),
    var(--color-gray-50)
  );
  --color-text-secondary: oklch(from var(--color-text-main) l c h / 0.7);
  --color-text-contrasted: light-dark(
    var(--color-gray-50),
    var(--color-gray-900)
  );

  --color-elevated-0: light-dark(
    var(--color-white),
    var(--color-gray-900)
  );
  --color-elevated-1: light-dark(
    var(--color-gray-100),
    var(--color-gray-800)
  );
  --color-elevated-2: light-dark(
    var(--color-gray-200),
    var(--color-gray-700)
  );

  --color-elevated-border: oklch(from var(--color-text-main) l c h / 0.25);

  --spacing-navbar: 60px;

  --text-body: var(--text-base);
  --text-body--line-height: var(--text-base--line-height);
  --text-body-large: var(--text-lg);
  --text-body-large--line-height: var(--text-lg--line-height);
  --text-body-small: var(--text-sm);
  --text-body-small--line-height: var(--text-sm--line-height);
  --text-h1: var(--text-4xl);
  --text-h1--line-height: var(--text-4xl--line-height);
  --text-h2: var(--text-3xl);
  --text-h2--line-height: var(--text-3xl--line-height);
  --text-h3: var(--text-2xl);
  --text-h3--line-height: var(--text-2xl--line-height);
  --text-h4: var(--text-xl);
  --text-h4--line-height: var(--text-xl--line-height);

  --opacity-disabled: .65;

  --animate-dots-size-pulse: dots-size-pulse 1.8s infinite ease-in-out;
  --animate-dots-color-pulse: dots-color-pulse 18s infinite ease-in-out;
  --animate-dots-pulse: var(--animate-dots-size-pulse), var(--animate-dots-color-pulse);
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-out: fade-in 1s ease-in-out reverse;
}

:root {
  color-scheme: light dark;
  --svg-check: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

@import "./animations.css";
@import "./font-awesome.css";
@import "./material-icons.css";
@import "./utilities.css";
