name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  check-and-build:
    name: Check and Build
    runs-on: ubuntu-latest

    env:
      PRISMA_BINARY_TARGET: '["native"]'

    steps:
      - uses: actions/checkout@v6

      - name: Use node 24
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Install packages
        run: npm ci

      - name: Check audit
        run: npm audit --omit=dev

      - name: Build
        run: npx turbo run build --continue=dependencies-successful

      - name: Check linter
        run: npx turbo run check lint --continue=always

  docker:
    name: Docker image build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image:
          - ledefault
          - nas-auth
          - nas-fs
          - nas-persistance

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Checkout actions
        uses: actions/checkout@v6
        with:
          repository: melchor629/actions
          ref: main
          token: ${{ secrets.PAT_GITHUB }}
          path: ./.github/actions
          fetch-depth: 0

      - name: Setup docker
        uses: ./.github/actions/docker/prepare

      - name: Build image
        uses: ./.github/actions/docker/build
        with:
          file: ./apps/${{ matrix.image }}/docker/Dockerfile
