name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [master]

jobs:
  check-and-build:
    name: Check and Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use node 22
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install packages
        run: npm ci

      - name: Check audit
        run: npm audit --omit=dev

      - name: Check linter
        run: npx turbo run check lint

      - name: Build
        run: npx turbo run build

  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
