name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [master]

jobs:
  check-and-build:
    name: Check and Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use node 22
        uses: actions/setup-node@v5
        with:
          node-version: '22.x'

      - name: Install packages
        run: npm i

      - name: Check audit
        run: npm audit --omit=dev

      - name: Build
        run: npx turbo run build

      - name: Check linter
        run: npx turbo run check lint
